body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#headers {
  text-indent: 0.75em;
  letter-spacing: 0.75em;
}

#headers p:first-child {
  margin-bottom: 0;
}

#headers p:last-child {
  margin-top: 0;
}

#dayOneDiv {
  margin-top: 10px;
}

#dayOne {
  padding: 0 20px;
  color: #3bbfff;
  border: 1px #3bbfff solid;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: white;
}

#dayOne:hover {
  color: white;
  background-color: #3bbfff;
}

#footer {
  position: absolute;
  bottom: 0;
  align-self: center;
}

@media (max-width: 768px) {

  p {
    font-size: 1.5em;
  }

  #footer > p {
    font-size: 0.5em;
  }

}

@media (min-width: 768px) {

  p {
    font-size: 2em;
  }

  #footer > p {
    font-size: 0.75em;
  }

}

@media (min-width: 1200px) {

  p {
    font-size: 3em;
  }

  #footer > p {
    font-size: 1em;
  }

}
